body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    
}
.sidebar{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: green;
    text-align: center;
}
.sidebar h1, a{
    padding: 10px;
}
.sidebar a{
    text-decoration: none;
    color: black;

}
.sidebar a:hover{
    border: 1px solid white;
    background-color: blue;
    text-align: center;
    transition: 0.5s;
}
.home{
    flex: 6;
    order: -1;
    background-color: white;
    text-align: center;
}